(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_parameters_in_scopes: None,
    waves: Some((
        source: File("/Users/navjotsinghchahal/Desktop/work/Spring Sem/Computer organisation/cis5710-homework/hw5-pipelined/sim_build/dump.fst"),
        format: Fst,
        active_scope: Some(WaveScope((
            strs: [
                "Processor",
                "datapath",
                "rf",
                "regs",
            ],
        ))),
        displayed_items_order: [
            (1),
            (2),
            (3),
            (4),
            (5),
            (6),
            (7),
            (8),
            (9),
            (10),
            (11),
            (12),
            (13),
            (14),
            (15),
            (18),
            (23),
            (22),
            (24),
            (16),
            (17),
            (19),
            (20),
            (21),
        ],
        displayed_items: {
            (8): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "Processor",
                            "datapath",
                        ],
                    ),
                    name: "d_disasm",
                ),
                color: None,
                background_color: None,
                display_name: "d_disasm [255:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("ASCII"),
                field_formats: [],
            )),
            (1): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "$rootio",
                        ],
                    ),
                    name: "clk",
                ),
                color: None,
                background_color: None,
                display_name: "clk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (19): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "Processor",
                            "datapath",
                        ],
                    ),
                    name: "load_use_hazard",
                ),
                color: None,
                background_color: None,
                display_name: "load_use_hazard",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (9): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "Processor",
                            "datapath",
                        ],
                    ),
                    name: "e_disasm",
                ),
                color: None,
                background_color: None,
                display_name: "e_disasm [255:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("ASCII"),
                field_formats: [],
            )),
            (3): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "Processor",
                            "datapath",
                        ],
                    ),
                    name: "f_pc_current",
                ),
                color: None,
                background_color: None,
                display_name: "f_pc_current [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (10): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "Processor",
                            "datapath",
                        ],
                    ),
                    name: "m_disasm",
                ),
                color: None,
                background_color: None,
                display_name: "m_disasm [255:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("ASCII"),
                field_formats: [],
            )),
            (4): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "Processor",
                            "datapath",
                        ],
                    ),
                    name: "f_pc_next",
                ),
                color: None,
                background_color: None,
                display_name: "f_pc_next [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (16): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "Processor",
                            "datapath",
                            "rf",
                            "regs",
                        ],
                    ),
                    name: "[15]",
                ),
                color: None,
                background_color: None,
                display_name: "[15] [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (21): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "Processor",
                            "datapath",
                        ],
                    ),
                    name: "d_rs2",
                ),
                color: None,
                background_color: None,
                display_name: "d_rs2 [4:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (17): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "Processor",
                            "datapath",
                        ],
                    ),
                    name: "cycles_current",
                ),
                color: None,
                background_color: None,
                display_name: "cycles_current [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (18): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "Processor",
                            "datapath",
                            "rf",
                            "regs",
                        ],
                    ),
                    name: "[5]",
                ),
                color: None,
                background_color: None,
                display_name: "[5] [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Hexadecimal"),
                field_formats: [],
            )),
            (13): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "Processor",
                            "datapath",
                            "rf",
                            "regs",
                        ],
                    ),
                    name: "[1]",
                ),
                color: None,
                background_color: None,
                display_name: "[1] [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Hexadecimal"),
                field_formats: [],
            )),
            (12): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "Processor",
                            "datapath",
                            "rf",
                            "regs",
                        ],
                    ),
                    name: "[0]",
                ),
                color: None,
                background_color: None,
                display_name: "[0] [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (20): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "Processor",
                            "datapath",
                        ],
                    ),
                    name: "d_rs1",
                ),
                color: None,
                background_color: None,
                display_name: "d_rs1 [4:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (24): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "Processor",
                            "datapath",
                            "rf",
                            "regs",
                        ],
                    ),
                    name: "[14]",
                ),
                color: None,
                background_color: None,
                display_name: "[14] [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (6): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "Processor",
                            "datapath",
                        ],
                    ),
                    name: "w_pc",
                ),
                color: None,
                background_color: None,
                display_name: "w_pc [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (14): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "Processor",
                            "datapath",
                            "rf",
                            "regs",
                        ],
                    ),
                    name: "[2]",
                ),
                color: None,
                background_color: None,
                display_name: "[2] [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (22): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "Processor",
                            "datapath",
                            "rf",
                            "regs",
                        ],
                    ),
                    name: "[7]",
                ),
                color: None,
                background_color: None,
                display_name: "[7] [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (11): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "Processor",
                            "datapath",
                        ],
                    ),
                    name: "w_disasm",
                ),
                color: None,
                background_color: None,
                display_name: "w_disasm [255:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("ASCII"),
                field_formats: [],
            )),
            (7): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "Processor",
                            "datapath",
                        ],
                    ),
                    name: "f_disasm",
                ),
                color: None,
                background_color: None,
                display_name: "f_disasm [255:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("ASCII"),
                field_formats: [],
            )),
            (5): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "Processor",
                            "datapath",
                        ],
                    ),
                    name: "e_pc",
                ),
                color: None,
                background_color: None,
                display_name: "e_pc [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (2): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "$rootio",
                        ],
                    ),
                    name: "rst",
                ),
                color: None,
                background_color: None,
                display_name: "rst",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (15): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "Processor",
                            "datapath",
                            "rf",
                            "regs",
                        ],
                    ),
                    name: "[3]",
                ),
                color: None,
                background_color: None,
                display_name: "[3] [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (23): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "Processor",
                            "datapath",
                            "rf",
                            "regs",
                        ],
                    ),
                    name: "[6]",
                ),
                color: None,
                background_color: None,
                display_name: "[6] [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
        },
        display_item_ref_counter: 24,
        viewports: [
            (
                curr_left: (1.0967838876767508),
                curr_right: (0.034278103190215056),
                target_left: (0.7971964768394086),
                target_right: (0.7744229994110042),
                move_start_left: (0.7971964768394086),
                move_start_right: (0.7744229994110042),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((1, [
            161330,
        ])),
        markers: {},
        focused_item: None,
        focused_transaction: (None, None),
        selected_items: [],
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: Some((18)),
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    wanted_timeunit: PicoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_name_filter_type: Fuzzy,
    variable_name_filter_case_insensitive: true,
    rename_target: None,
    sidepanel_width: Some(300.0),
    ui_zoom_factor: None,
)